@import '@/styles';

.balance {
  text-align: center;
  padding: 16px;
  border: 1px solid @white;
  border-radius: @border-radius-main;
  margin-top: auto;
  display: flex;
  align-items: center;

  &__values {
    margin-left: auto;
    text-align: right;
  }

  svg {
    width: 20px;
    height: 20px;
    fill: @white;
    margin-right: 12px;
  }

  .ant-typography {
    color: @white;
    margin-bottom: 0;

    &:last-child {
      color: @white !important;
      margin-top: 0;
      margin-left: auto;
    }
  }
}
