@import '@/styles';

.balance {
  transition: opacity 0.3s;
  text-align: center;
  padding: 16px;
  border: 1px solid @white;
  border-radius: @border-radius-main;
  margin-top: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: transparent;

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: 1px solid @white;
  }

  .sm({
    margin-top: auto;
  });

  &__values {
    margin-left: auto;
  }

  svg {
    width: 20px;
    height: 20px;
    fill: @white;
    margin-right: 12px;
  }

  span.ant-typography {
    color: @white;
    font-size: 16px;
  }

  h4.ant-typography {
    color: @white;
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
  }
}
