.layout {
    display: flex;

    &__sidebar {
        width: 280px;
        height: 100vh;
        position: fixed;
    }

    &__header {
    }

    &__content {
        margin: 20px 20px 20px 300px;
        width: 100%;
        //margin: 20px
    }

    &__user-widget {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}
