@import '@/styles';

.user-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-right: 24px;

  &:hover {
    .user-widget__name {
      color: @primary-color !important;
    }
  }

  &__name {
    margin-left: 8px;
  }
}