@import '@/styles';

.reset-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 16px;

  &__content {
    width: 100%;
    margin: auto;
    padding-top: 96px;
    padding-bottom: 96px;

    .sm({
      width: 354px;
    });

    .xl({
      padding-top: 128px;
      padding-bottom: 128px;
    });

    .ant-form-item {
      margin-bottom: 16px;
    }
  }

  &__image {
    display: block;
    position: absolute;
    top: -112px;
    width: 230px;

    .xl({
      width: 300px;
      top: -128px;
    })
  }

  &__section {
    padding: 22px;
    position: relative;

    .md({
      padding: 36px;
    })
  }

  &__title {
    text-align: center;

    &.ant-typography {
      margin-bottom: 24px;
    }
  }

  &__login {
    width: 100%;
    margin-top: 32px;
  }
}
