@import '@/styles';

.main {
  &__top {
    display: inline-flex;
    margin-bottom: 12px;
    align-items: center;
    width: 100%;

    .ant-spin {
      margin-left: 12px;
    }
  }

  .xl({
    margin-bottom: 24px;
  })
}