@import "@/styles";

.not-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 34px 0 34px 0;
  height: 100%;

  .xl({
    margin: 44px 0 44px 0;
  });

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 34px 0 18px 0;
  }

  &__title.ant-typography {
    text-align: center;
    white-space: pre-line;
    font-weight: 300;
  }

  &__button {
    margin-top: 12px;
  }
}
