@import '@/styles';

.page-title {
  font-size: 18px;
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  font-weight: 400 !important;
  color: @smoke;

  svg {
    margin-right: 12px;
    fill: @smoke;
  }
}