@import './index.less';

// @todo разобраться почему 400 и 500 выглдядят одинаков
// @todo почему через style уходит много запросов
//@font-face {
//  font-display: swap;
//  font-family: 'Roboto';
//  src: url('/public/fonts/Roboto-Regular.woff2') format('woff2');
//  font-weight: 400;
//  font-style: normal;
//}
//
//@font-face {
//  font-display: swap;
//  font-family: 'Roboto';
//  src: url('/public/fonts/Roboto-Medium-2.woff2') format('woff2');
//  font-weight: 500;
//  font-style: normal;
//}

body {
  background-color: @background;
  font-family: 'Roboto', sans-serif;
  color: @ash;
}

// Переменные анта переназначем через ant-modify-vars, все остальное тут
.ant-modal-content {
  border-radius: @border-radius-main;

  .ant-modal-header {
    border-radius: @border-radius-main @border-radius-main 0 0;
  }
}

.ant-table-tbody {
  .ant-table-row:last-child {
    .ant-table-cell {
      border-bottom: none;
    }
  }
}

.ant-input-number {
  width: 100%;
}

.ant-picker-month-panel .ant-picker-cell-inner {
  width: 75px;
}

.ant-table-thead > tr > th {
  background-color: @background;
}

.ant-table-cell-row-hover {
  background-color: @fog !important;
}

.ant-btn-default:not(.ant-btn-dangerous) {
  &:hover,
  &:focus-visible,
  &:active {
    text-decoration: none;
    background: @flower;
    color: @white;
  }
}

.ant-popconfirm{
  max-width: 262px;

  .ant-popover-message-title {
    text-align: center;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
