@import '@/styles';

.help-hint {
  display: inline-flex;
  width: 18px;
  height: 18px;

  .sm({
    width: 22px;
    height: 22px;
  });

  &_is-open {
    .help-hint__icon {
      circle {
        fill: @primary-color;
        stroke: @primary-color;
      }

      path {
        fill: @white;
      }
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    cursor: pointer;

    circle, path {
      transition: 0.3s fill, 0.3s stroke;
    }

    circle {
      fill: @white;
      stroke: @primary-color;
    }

    path {
      fill: @primary-color;
    }
  }

  &__popover {
    width: auto;
    max-width: 300px;
    z-index: 1000;

    .ant-popover-inner-content {
      padding: 12px 16px;

      .sm({
        padding: 14px 20px;
      })
    }

    .sm({
      max-width: 400px;
    })
  }

  &__content {
    display: flex;
    align-items: flex-start;
  }

  &__close-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin-right: -12px;
    margin-left: 8px;
    margin-top: -4px;
    cursor: pointer;

    &:hover {
      .help-hint__close-icon svg {
        fill: @primary-color;
      }
    }
  }
}
