@import '~antd/lib/style/themes/default.less';

.goals {
  display: flex;
  margin-top: 12px;
  margin-bottom: 48px;

  &__item {
    width: 170px;
    margin-right: 24px;

    &:nth-child(1n) {
      .ant-card-body {
        background-color: @cyan-2;
      }
    }

    &:nth-child(2n) {
      .ant-card-body {
        background-color: @yellow-2;
      }
    }

    &:nth-child(3n) {
      .ant-card-body {
        background-color: @green-2;
      }
    }
  }

  &__card {
    text-align: center;
  }
}