.profile {
  animation: slide-in 0.3s ease-in-out both;
  max-width: 400px;

  &__row {
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: 120px 1fr;
  }

  &__row-value {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__row-button {
    margin-left: 8px;
  }

  &__logout {
    margin-top: 32px;
  }

  .ant-typography {
    margin-bottom: 0;
  }
}
