@import '~antd/lib/style/themes/default.less';

.card {
  width: 50%;

  &__form {
    margin-bottom: 12px !important;

    .ant-select.ant-select-in-form-item {
      width: 400px
    }
  }

  &__form-control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__sum {
    border-top: 1px solid #f0f0f0;
    margin-top: 20px;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;

    .ant-typography {
      margin: 0 !important;
    }
  }
}