@import '@/styles';

.categories {
  &__tables {
    display: grid;
    grid-column-gap: 12px;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    overflow-x: auto;
    width: calc(100% + 24px);
    margin-left: -12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;

    .xl({
      grid-column-gap: 24px;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    });

    .section {
      min-width: 320px;
    }

    .ant-table-row {
      cursor: pointer;
    }

    .section:first-child {
      animation: slide-in 0.3s ease-in-out both;
    }

    .section:last-child {
      animation: slide-in 0.3s ease-in-out both 0.1s;
    }
  }

  &__create-button {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

    .xl({
      margin-bottom: 34px;
    })
  }
}
