.categories {
  &__tables {
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;

    .ant-table-row {
      cursor: pointer;
    }

    .section:first-child {
      animation: slide-in 0.3s ease-in-out both;
    }

    .section:last-child {
      animation: slide-in 0.3s ease-in-out both 0.1s;
    }
  }

  &__create-button {
    margin-bottom: 34px;
  }
}