@import '@/styles';

.saving-goals {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 16px;
  row-gap: 22px;
  margin-bottom: 12px;
  animation: slide-in 0.3s ease-in-out 0.2s both;
  overflow-x: auto;
  width: calc(100% + 24px);
  margin-left: -12px;
  padding: 12px;

  .xl({
    flex-wrap: wrap;
    margin-bottom: 48px;
    width: 100%;
    margin-top: -12px;
    margin-left: 0;
    overflow: hidden;
  });

  &__item {
    padding: 42px 8px 20px 8px;
    min-width: 226px;
    background: linear-gradient(221.09deg, rgba(60, 177, 251, 0.7) -17.31%, rgba(130, 30, 165, 0.7) 117.97%);
    box-shadow: 0 0 14px rgba(@ash, 0.2);
    border-radius: 12px;
    position: relative;

    .ant-typography {
      margin-top: 0 !important;
      margin-bottom: 0;
      color: @white;
    }
  }

  &__name {
    border-radius: 2px 2px 6px 6px;
    background-color: @white;
    padding: 8px 12px;
    color: @flower;
    display: inline-flex;
    justify-content: center;
    position: absolute;
    top: -6px;
    margin-left: 26px;
    min-width: 90px;
    max-width: calc(100% - 68px);

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__row {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    width: 110px;
  }

  &__icon {
    margin-right: 8px;
  }
}
