@import '@/styles';

.goals {
  display: flex;
  margin-bottom: 48px;

  &__item {
    min-width: 150px;
    margin-right: 12px;
    background-color: #d6e4ff;

    .ant-typography {
      margin-top: 12px !important;
      margin-bottom: 0;
    }
  }
}