@import '@/styles';

.analytics-savings {
  &__name {
    width: 50%;
  }

  &__cell {
    width: 16.6%;
  }

  &__diff {
    color: @fire;
  }

  &__diff_positive {
    color: @forest;
  }

  &__total {
    display: grid;
    grid-template-columns: 50% 16.6% 16.6% 16.6%;
    border-top: 1px solid @background;
    padding: 16px 0;

    &-name {
      font-weight: 500;
      font-size: 16px;
      padding: 0 16px;
    }

    &-value {
      padding: 0 16px;
      font-weight: 500;
      font-size: 16px;
    }

    &-value-all {
      color: @fire;
    }

    &-value-all_positive {
      color: @forest;
    }
  }
}

