@import '@/styles';

.section {
  background-color: @white;
  padding: 20px;
  border-radius: 12px;

  &_padding-small {
    padding: 12px;
  }

  &_hide-border {
    .section__title {
      border-bottom: none;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 12px;
    margin-bottom: 16px;
    border-bottom: 1px solid @gray-4;
  }
}