.analytics {
  &__row {
    width: 100%;
    margin-bottom: 24px;
    display: grid;
    grid-column-gap: 48px;
    grid-template-columns: 1fr 1fr;
  }

  &__row_full {
    width: 100%;
    margin-bottom: 24px;
  }
}