@import '@/styles';

.balance {
  text-align: center;
  background-color: @purple-7;
  padding: 12px;
  border-radius: @border-radius-main;
  margin-top: auto;

  .ant-typography {
    color: @white;
    margin-bottom: 0;
  }
}